@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: "#000";
  --color-white: "#fff";
  --color-house-green: "#006241";
  --color-dark-house-green: "#1E3932";
  --color-accent-green: "#01A862";
  --color-light-green: "#D4E9E2";
  --color-gray: "#F7F7F7";
  --color-dark-gray: "#6A6A6A";
}

body,
html {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: radial-gradient(
    800px circle at top left,
    #ffffff 0%,
    #d4e9e2 100%
  );
}

.disclaimer {
  font-weight: bold;
}

@keyframes pulse {
  96%,
  98%,
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  97%,
  99% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
}

.animate__pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation: pulse 30s ease-in-out infinite;
}

.style-download-icon {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M3 15C3 17.8284 3 19.2426 3.87868 20.1213C4.75736 21 6.17157 21 9 21H15C17.8284 21 19.2426 21 20.1213 20.1213C21 19.2426 21 17.8284 21 15' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M12 3V16M12 16L16 11.625M12 16L8 11.625' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 2.5em 2.5em;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

.style-dropdown-icon {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M11.18 15.83 6.543 9.203C5.892 8.275 6.556 7 7.689 7h8.622c1.133 0 1.797 1.275 1.147 2.203l-4.639 6.627a1 1 0 0 1-1.638 0' fill='%23ffffff'/%3E%3C/svg%3E");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
